################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PSSK_POC/FileContentIndex
/.vs/ProjectEvaluation
/.vs/PSSK_POC/config
/.vs/PSSK_POC
/PSSK_POC/bin/Debug/netcoreapp3.1
